<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<dict>
		<key>sourcecolumn</key>
		<string>Author</string>
		<key>text</key>
		<string>
			</string>
		<key>title</key>
		<string>Author</string>
	</dict>
	<key>FictionType</key>
	<dict>
		<key>sourcecolumn</key>
		<string>FictionType</string>
		<key>text</key>
		<string>
			</string>
		<key>title</key>
		<string>FictionType</string>
	</dict>
	<key>ISBN_Digital</key>
	<dict>
		<key>sourcecolumn</key>
		<string>ISBN_Digital</string>
		<key>text</key>
		<string>
			</string>
		<key>title</key>
		<string>ISBN Digital</string>
	</dict>
	<key>IllustratedBy</key>
	<dict>
		<key>sourcecolumn</key>
		<string>IllustratedBy</string>
		<key>text</key>
		<string>
			</string>
		<key>title</key>
		<string>Illustrated By</string>
	</dict>
	<key>WordCount</key>
	<dict>
		<key>sourcecolumn</key>
		<string>WordCount</string>
		<key>text</key>
		<string>
			</string>
		<key>title</key>
		<string>Word Count</string>
	</dict>
	<key>description</key>
	<dict>
		<key>sourcecolumn</key>
		<string>description</string>
		<key>text</key>
		<string>
			</string>
		<key>title</key>
		<string>Description</string>
	</dict>
	<key>keywords</key>
	<dict>
		<key>sourcecolumn</key>
		<string>keywords</string>
		<key>text</key>
		<string>
			</string>
		<key>title</key>
		<string>Keywords</string>
	</dict>
	<key>publisher</key>
	<dict>
		<key>sourcecolumn</key>
		<string>publisher</string>
		<key>text</key>
		<string>
			</string>
		<key>title</key>
		<string>Publisher</string>
	</dict>
</dict>
</plist>
