
JoinShow/JoinShow.xcodeproj/xcuserdata/user.xcuserdatad/xcschemes/JoinShow.xcscheme

JoinShow/JoinShow.xcodeproj/xcuserdata/user.xcuserdatad/xcschemes/xcschememanagement.plist

JoinShow.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate

JoinShow.xcworkspace/xcuserdata/user.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
